@import 'tailwindcss';
@import '@fontsource/inter/400.css'; /* REGULAR */
@import '@fontsource/inter/500.css'; /* MEDIUM */
@import '@fontsource/nunito/700.css'; /* BOLD */
@import '@fontsource/nunito/900.css'; /* BLACK */

@theme {
  --color-white: #fffdfa;
  --color-blue: #133f63;
  --color-lightBlue: #e9f2ff;
  --color-blue-gray: #86a6c0;
  --color-accent: #fc666a;
  --color-accent-500: #e90b11;
  --color-borderColor: #e2e8f0;
  --color-bgModalColor: #fffdfa33;
  --color-bgBodyColor: #fffdfa80;
  --color-bgEdit: #ffa500;
  --color-bgActiveStatus: #49ad7b;
  --color-bgInActiveStatus: #fc666a;
  /* Couleurs dynamiques basées sur le type de rendez-vous */
  --followup-bar: #a8cbff;
  --treatment-bar: #bcd7ff;
  --healthcheck-bar: #b4ffdc;
  --intervention-bar: #133f63;
}

@layer base {
  body {
    font-family: 'Inter', sans-serif;
  }

  p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    @apply text-blue;
  }

  h1 {
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    font-size: 24px;
    @apply text-blue;
  }

  h2 {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 24px;
    @apply text-blue;
  }

  h3 {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 16px;
    @apply text-black;
  }

  label {
    @apply text-blue;
  }
}

@layer components {
  .cta {
    @apply w-40 h-14 px-4 py-2 text-white bg-blue hover:bg-white hover:text-accent hover:border-accent focus:bg-white focus:text-accent focus:border-accent border-2 rounded-[6px] transition duration-300 ease-in-out;
  }

  .cta-red {
    @apply w-40 h-14 px-4 py-2 text-accent bg-white hover:bg-accent hover:text-white hover:border-accent focus:bg-accent focus:text-white focus:border-accent border-2 rounded-[6px] transition duration-300 ease-in-out;
  }

  .standard-button {
    @apply w-auto h-10 px-4 py-2 text-white bg-blue hover:bg-white hover:text-blue hover:border-blue focus:bg-white focus:text-blue focus:border-blue border-2 rounded-[6px] transition duration-300 ease-in-out;
  }
}

@layer utilities {
  .bg-auth-gradient {
    background-image: linear-gradient(-315deg, #b4ffdc 0%, #bcd7ff 67%, #a8cbff 80%);
    height: 100%
  }

  /* Calendar element*/
  .calendar_default_event {
    @apply text-white rounded px-2 py-1 text-sm bg-[#e2e8f0];
  }

  .calendar_default_event_bar,
  .calendar_default_event_bar_inner {
    background-color: var(--color-blue) !important;
  }

  .calendar_default_main {
    font-family: 'Inter', sans-serif;
  }

  .navigator_default_title,
  .navigator_default_dayheader,
  .navigator_default_cell_text {
    font-family: 'Inter', sans-serif;
  }

  .calendar_default_colheader,
  .calendar_default_corner,
  .calendar_default_cornerright {
    height: 50px !important;
  }
}

/******* CALENDAR ELEMENT WITHOUT TAILWIND **********/
/* Column zebra striping*/
.calendar_default_main td table tr td:nth-child(even) .calendar_default_cell_inner,
.calendar_default_main
  td
  table
  tr
  td:nth-child(even)
  .calendar_default_cell_business
  .calendar_default_cell_inner {
  background-color: #f8f9fa;
}

/* Column zebra striping*/
.calendar_default_main td table tr td:nth-child(odd) .calendar_default_cell_inner,
.calendar_default_main
  td
  table
  tr
  td:nth-child(odd)
  .calendar_default_cell_business
  .calendar_default_cell_inner {
  background-color: #fffdfa;
}

/* Cells background */
.calendar_default_event_inner {
  background: #e2e8f0;
}
.calendar_default_corner_inner,
.calendar_default_colheader_inner,
.calendar_default_rowheader_inner,
.navigator_default_title,
.navigator_default_titleleft,
.navigator_default_titleright,
.navigator_default_dayheader,
.navigator_default_daybox {
  background: #fffdfa;
}

.navigator_default_select .navigator_default_cell_box {
  background-color: #fc666a;
}

/* Specific cell border */
.navigator_default_todaybox {
  border-radius: 50%;
  border: 1px solid #fc666a;
}

.calendar_default_event {
  width: 80% !important;
}

button {
  cursor: pointer;
}
